<div class="album py-5 bg-light">
    <div class="container" style="width: 50%;">
        <div class="row">
            <div class="col-md-4" *ngFor="let mesa of listaMesa" style="padding-bottom: 3%;">
                <div class="card promoting-card" style="border-radius: 10px;"(click)="detalhe(mesa.id)">
                    <div style="margin: auto;">
                        <div style="height: 45px;">
                            <p class="card-text" id="collapseContent"
                                style="font-family:Edwardian Script ITC; font-size: 35px;">Mesa {{mesa.nome}}</p>
                        </div>
                    </div>
                    <div class="view overlay">
                        <img class="card-img-top rounded-0"
                            src="https://www.emporiotambo.com.br/pub/media/resized/1300x800/ves/blog/xguia-de-mesa.jpg.pagespeed.ic.KcGlK-6Bkk.webp"
                            alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div *ngFor="let garcon of listaGarcon">
                        <div class="card-body d-flex flex-row" *ngIf="garcon.id==mesa.id_garcon">
                            <img src="{{garcon.imagem}}" class="rounded-circle mr-3" alt="avatar" width="30%"
                                height="30%">
                            <div>
                                <h4 class="card-title font-weight-bold mb-2"
                                    style="font-size: 30px; font-family:Edwardian Script ITC;">
                                    <p>{{garcon.nome}}</p>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" style="margin: auto;">
                        <div class="card-text">
                            <p class="card-text" id="collapseContent"
                                style="font-size: 30px; font-family:Edwardian Script ITC;">{{mesa.status}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>